{
  "openapi": "3.0.1",
  "info": {
    "title": "MapmyIndia Explore APIs",
    "description": "<h2>Security Type</h2> <p>This APIs follow OAuth2 based security. <b>To know more on how to create your authorization tokens, please click the `Authorize` button below. More details available <a href=\"https://www.mapmyindia.com/api/advanced-maps/doc/authentication-api.php\">here</a></b> </br><li><a href=\"https://www.mapmyindia.com/api/login\">Login/Sing Up</a> for API key and other access.<p></br>",
    "termsOfService": "https://www.mapmyindia.com/api/terms-&-conditions",
    "contact": {
      "name": "MapmyIndia API Support",
      "url": "https://www.mapmyindia.com/api/#f_cont",
      "email": "apisupport@mapmyindia.com"
    },
    "version": "2.1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about MapmyIndia APIs",
    "url": "https://www.mapmyindia.com/api/advanced-maps/doc/interactive-map-api"
  },
  "servers": [
    {
      "url": "http://exp.mapmyindia.in/api",
      "description": "PreProd"
    },
    {
      "url": "https://explore.mapmyindia.com/api",
      "description": "Prod"
    },
    {
      "url": "http://explore-uat.mapmyindia.in/api",
      "description": "UAT"
    }
  ],
  "tags": [
    {
      "name": "Checkins"
    },
    {
      "name": "Claim a Business"
    },
    {
      "name": "Events"
    },
    {
      "name": "Image"
    },
    {
      "name": "List"
    },
    {
      "name": "Place"
    },
    {
      "name": "Report"
    },
    {
      "name": "Review"
    },
    {
      "name": "Route"
    },
    {
      "name": "Route Report Summary"
    },
    {
      "name": "User"
    }
  ],
  "paths": {
    "/places/checkin/{checkinId}": {
      "get": {
        "tags": [
          "Checkins"
        ],
        "summary": "Checkin details",
        "description": "Get checkin details",
        "operationId": "getCheckinDetail",
        "parameters": [
          {
            "name": "checkinId",
            "in": "path",
            "description": "Checkin ID to get details of",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/placeDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/places/{eloc}/checkin": {
      "get": {
        "tags": [
          "Checkins"
        ],
        "summary": "All Checkin at a place",
        "description": "Get checkin details",
        "operationId": "getAllCheckin",
        "parameters": [
          {
            "name": "eloc",
            "in": "path",
            "description": "Eloc",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/placeDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/placedetails": {
      "get": {
        "tags": [
          "Place"
        ],
        "summary": "Detail of a place",
        "description": "This API gives the general details of that particular place id (eLoc) with keyinfo.",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/placeDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "placeDetailResponse": {
        "type": "object",
        "properties": {
          "baseURLObj": {
            "type": "object",
            "properties": {
              "keyinfo": {
                "type": "string",
                "example": "https://mmi-explore-images.s3.ap-south-1.amazonaws.com/key_info/"
              },
              "review": {
                "type": "string",
                "example": "https://maps.mapmyindia.com/review/"
              },
              "place": {
                "type": "string",
                "example": "https://maps.mapmyindia.com/place/"
              }
            }
          },
          "generalDetails": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "1T182A"
              },
              "city": {
                "type": "string",
                "example": "New Delhi"
              },
              "similarPlaces": {
                "type": "string",
                "example": null
              },
              "latitude": {
                "type": "number",
                "format": "float",
                "example": 28.62542
              },
              "houseNumber": {
                "type": "string",
                "example": ""
              },
              "placeID": {
                "type": "string",
                "example": "1T182A"
              },
              "poi": {
                "type": "string",
                "example": "India Gate"
              },
              "type": {
                "type": "string",
                "example": "POI"
              },
              "responseCode": {
                "type": "integer",
                "example": 200
              },
              "houseName": {
                "type": "string",
                "example": ""
              },
              "formatedAddress": {
                "type": "string",
                "example": "India Gate, Rajpath Marg, New Delhi, Delhi, 110001"
              },
              "eLat": {
                "type": "number",
                "format": "float",
                "example": 28.6251256005
              },
              "popularName": {
                "type": "string",
                "example": "India Gate"
              },
              "street": {
                "type": "string",
                "example": "Rajpath Marg"
              },
              "state": {
                "type": "string",
                "example": "Delhi"
              },
              "village": {
                "type": "string",
                "example": ""
              },
              "email": {
                "type": "string",
                "example": ""
              },
              "longitude": {
                "type": "number",
                "format": "float",
                "example": 77.123551
              },
              "pincode": {
                "type": "string",
                "example": 110001
              },
              "website": {
                "type": "string",
                "example": ""
              },
              "address": {
                "type": "string",
                "example": "India Gate, Rajpath Marg, New Delhi, Delhi, 110001"
              },
              "subLocality": {
                "type": "string",
                "example": ""
              },
              "locality": {
                "type": "string",
                "example": ""
              },
              "telephone": {
                "type": "string",
                "example": 911123365358
              },
              "eLng": {
                "type": "number",
                "format": "float",
                "example": 77.1233000688
              },
              "subSubLocality": {
                "type": "string",
                "example": ""
              },
              "district": {
                "type": "string",
                "example": ""
              },
              "floorNo": {
                "type": "string",
                "example": ""
              },
              "doorNo": {
                "type": "string",
                "example": ""
              },
              "placeName": {
                "type": "string",
                "example": "India Gate"
              },
              "subDistrict": {
                "type": "string",
                "example": ""
              }
            }
          },
          "keyInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "icon": {
                        "type": "string",
                        "example": "ic_timings.png"
                      },
                      "title": {
                        "type": "string",
                        "example": "Timings"
                      },
                      "value": {
                        "type": "string",
                        "example": "Morning to Night"
                      }
                    }
                  }
                },
                "heading": {
                  "type": "string",
                  "example": "noheading"
                },
                "style": {
                  "type": "string"
                }
              }
            }
          },
          "version": {
            "type": "string",
            "example": 210.16
          }
        }
      }
    },
    "securitySchemes": {
      "mmi_auth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://outpost.mapmyindia.com/api/security/oauth/token",
            "scopes": {
              "Read": "read authorization for API"
            }
          }
        }
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    }
  }
}
