{
  "openapi": "3.0.1",
  "info": {
    "title": "MapmyIndia Explore APIs",
    "description": "<h2>Security Type</h2> <p>This APIs follow OAuth2 based security. <b>To know more on how to create your authorization tokens, please click the `Authorize` button below. More details available <a href=https://www.mapmyindia.com/api/advanced-maps/doc/authentication-api.php>here</a></b> </br><li><a href=https://www.mapmyindia.com/api/login>Login/Sing Up</a> for API key and other access.<p></br>",
    "termsOfService": "https://www.mapmyindia.com/api/terms-&-conditions",
    "contact": {
      "name": "MapmyIndia API Support",
      "url": "https://www.mapmyindia.com/api/#f_cont",
      "email": "apisupport@mapmyindia.com"
    },
    "version": "2.1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about MapmyIndia APIs",
    "url": "https://www.mapmyindia.com/api/advanced-maps/doc/interactive-map-api"
  },
  "servers": [
    {
      "url": "http://exp.mapmyindia.in/api",
      "description": "PreProd"
    },
    {
      "url": "https://explore.mapmyindia.com/api",
      "description": "Prod"
    },
    {
      "url": "http://explore-uat.mapmyindia.in/api",
      "description": "UAT"
    }
  ],
  "tags": [
    {
      "name": "Checkins"
    },
    {
      "name": "Claim a Business"
    },
    {
      "name": "Events"
    },
    {
      "name": "Image"
    },
    {
      "name": "List"
    },
    {
      "name": "Place"
    },
    {
      "name": "Report"
    },
    {
      "name": "Review"
    },
    {
      "name": "Route"
    },
    {
      "name": "Route Report Summary"
    },
    {
      "name": "User"
    }
  ],
  "paths": {
    "/{version}/places/checkin/{checkinId}": {
      "get": {
        "tags": [
          "Checkins"
        ],
        "summary": "Checkin details",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkinId",
            "in": "path",
            "description": "Checkin ID to get details of",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-CheckinDetail-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{version}/places/{eloc}/checkin": {
      "get": {
        "tags": [
          "Checkins"
        ],
        "summary": "All Checkin at a place",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-AllCheckinAtAPlace-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Checkins"
        ],
        "summary": "Create Checkin",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkInRequest",
            "in": "header",
            "description": "Checkin request body",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/POST-CreateCheckin-Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/users/checkin": {
      "get": {
        "tags": [
          "Checkins"
        ],
        "summary": "All checkins of a user",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-AllCheckinOfAUser-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{claimId}/claim": {
      "patch": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Update Claim",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "description": "Unique Claim ID.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimRequest",
            "in": "header",
            "description": "Claim request body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "phoneNo": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No COntent"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/places/{claimId}/claimStatusUpdate": {
      "patch": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Update Claim Status",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "description": "Unique Claim ID.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "0 (Fresh) , 1(Approve) , 2(Disapprove) , 3(Re-claim)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/places/{eloc}/claim": {
      "post": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Create Claim",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimRequest",
            "in": "header",
            "description": "Claim request body",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/POST-CreateClaim-Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No COntent"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/places/{eloc}/enquiry": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Place Enquiry",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-PlaceEnquiry-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Create Enquiry",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enquiryRequest",
            "in": "header",
            "description": "Claim request body",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/POST-CreateEnquiry-Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/placeReport": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "All Report at a Place",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-AllReportsAtAPlace-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/placedetails": {
      "get": {
        "tags": [
          "Place",
          "Claim a Business"
        ],
        "summary": "Detail of a place",
        "description": "This API gives the general details of that particular place id (eLoc) with keyinfo.",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-PlaceDetail-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/relation": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Relation with User",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-RelationWithUser-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/review": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "All Review at a Place",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "example": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting of results by date ascending or descending.",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer",
              "example": "date:desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-AllReviewAtAPlace-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/status": {
      "post": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Create Status",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statusRequest",
            "in": "header",
            "description": "Status request body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "placeStatus": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/{pinId}/pinStatus": {
      "patch": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Pin Status Update",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pinId",
            "in": "path",
            "description": "Unique Pin ID.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "0 (Open) , 1(InProgress) , 2(Remove).",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Platform",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/places/{enquiryId}/enquiry": {
      "delete": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Delete Enquiry",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enquiryId",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      },
      "patch": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Update Enquiry",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enquiryId",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "enquiryRequest",
            "in": "header",
            "description": "Enquiry Request Body",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "$ref": "#/components/schemas/PATCH-UpdateEnquiry-Request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/places/{pinId}/{type}": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Get Respond/Comment on Pin",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pinId",
            "in": "path",
            "description": "Unique Pin ID",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "comment( General user )/ respond( Manager/claimant )",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-GetRespondCommentOnPin-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Set Respond/Comment on Pin",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pinId",
            "in": "path",
            "description": "Unique Pin ID",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "path",
            "description": "comment( General user )/ respond( Manager/claimant )",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CommentRequest",
            "in": "header",
            "description": "Comment Request Body",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "object",
              "properties": {
                "comment": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/users/claims": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "User Claims",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination",
            "in": "query",
            "description": "Pagination",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-UserClaims-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/users/enquiry": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "User Enquiries",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pagination",
            "in": "query",
            "description": "Pagination",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-UserEnquiries-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/image": {
      "post": {
        "tags": [
          "Image"
        ],
        "summary": "Upload Image",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "[place,report,review,atlas,comment,claim,respond,enquiry]",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "query",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pinId",
            "in": "query",
            "description": "Unique Pin ID.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "images",
            "in": "query",
            "description": "Images",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "object"
              }
            }
          },
          {
            "name": "platform",
            "in": "query",
            "description": "Platform",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/assets": {
      "get": {
        "tags": [
          "Image"
        ],
        "summary": "Images at a Place",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "example": 1,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "example": 10,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-ImagesAtAPlace-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GET-AllCheckinOfAUser-Response": {
        "type": "object",
        "properties": {
          "checkins": {
            "type": "array",
            "items": {
              "properties": {
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object"
          }
        }
      },
      "GET-AllCheckinAtAPlace-Response": {
        "type": "object",
        "properties": {
          "checkins": {
            "type": "array",
            "items": {
              "properties": {
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object"
          }
        }
      },
      "POST-CreateCheckin-Request": {
        "type": "object",
        "properties": {
          "alt": {
            "type": "integer"
          },
          "altAcc": {
            "type": "integer"
          },
          "broadcast": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "latlngAcc": {
            "type": "integer"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "placeName": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "GET-CheckinDetail-Response": {
        "type": "object",
        "properties": {
          "createdOn": {
            "type": "number",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "flagCount": {
            "type": "integer"
          },
          "flagged": {
            "type": "boolean"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "likeCount": {
            "type": "integer"
          },
          "liked": {
            "type": "boolean"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "name": {
            "type": "string"
          },
          "photo": {
            "type": "string"
          },
          "pictures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "placeId": {
            "type": "string"
          },
          "placeName": {
            "type": "string"
          },
          "resourceLocation": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "videos": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GET-PlaceDetail-Response": {
        "type": "object",
        "properties": {
          "baseURLObj": {
            "type": "object",
            "properties": {
              "keyinfo": {
                "type": "string",
                "example": "https://mmi-explore-images.s3.ap-south-1.amazonaws.com/key_info/"
              },
              "review": {
                "type": "string",
                "example": "https://maps.mapmyindia.com/review/"
              },
              "place": {
                "type": "string",
                "example": "https://maps.mapmyindia.com/place/"
              }
            }
          },
          "generalDetails": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "1T182A"
              },
              "city": {
                "type": "string",
                "example": "New Delhi"
              },
              "similarPlaces": {
                "type": "string",
                "example": null
              },
              "latitude": {
                "type": "number",
                "format": "float",
                "example": 28.62542
              },
              "houseNumber": {
                "type": "string",
                "example": null
              },
              "placeID": {
                "type": "string",
                "example": "1T182A"
              },
              "poi": {
                "type": "string",
                "example": "India Gate"
              },
              "type": {
                "type": "string",
                "example": "POI"
              },
              "responseCode": {
                "type": "integer",
                "example": 200
              },
              "houseName": {
                "type": "string",
                "example": null
              },
              "formatedAddress": {
                "type": "string",
                "example": "India Gate, Rajpath Marg, New Delhi, Delhi, 110001"
              },
              "eLat": {
                "type": "number",
                "format": "float",
                "example": 28.6251256005
              },
              "popularName": {
                "type": "string",
                "example": "India Gate"
              },
              "street": {
                "type": "string",
                "example": "Rajpath Marg"
              },
              "state": {
                "type": "string",
                "example": "Delhi"
              },
              "village": {
                "type": "string",
                "example": null
              },
              "email": {
                "type": "string",
                "example": null
              },
              "longitude": {
                "type": "number",
                "format": "float",
                "example": 77.123551
              },
              "pincode": {
                "type": "string",
                "example": 110001
              },
              "website": {
                "type": "string",
                "example": null
              },
              "address": {
                "type": "string",
                "example": "India Gate, Rajpath Marg, New Delhi, Delhi, 110001"
              },
              "subLocality": {
                "type": "string",
                "example": null
              },
              "locality": {
                "type": "string",
                "example": null
              },
              "telephone": {
                "type": "string",
                "example": 911123365358
              },
              "eLng": {
                "type": "number",
                "format": "float",
                "example": 77.1233000688
              },
              "subSubLocality": {
                "type": "string",
                "example": null
              },
              "district": {
                "type": "string",
                "example": null
              },
              "floorNo": {
                "type": "string",
                "example": null
              },
              "doorNo": {
                "type": "string",
                "example": null
              },
              "placeName": {
                "type": "string",
                "example": "India Gate"
              },
              "subDistrict": {
                "type": "string",
                "example": null
              }
            }
          },
          "keyInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "icon": {
                        "type": "string",
                        "example": "ic_timings.png"
                      },
                      "title": {
                        "type": "string",
                        "example": "Timings"
                      },
                      "value": {
                        "type": "string",
                        "example": "Morning to Night"
                      }
                    }
                  }
                },
                "heading": {
                  "type": "string",
                  "example": "noheading"
                },
                "style": {
                  "type": "string"
                }
              }
            }
          },
          "version": {
            "type": "string",
            "example": 210.16
          }
        }
      },
      "POST-CreateClaim-Request": {
        "type": "object",
        "properties": {
          "claimDescription": {
            "type": "string"
          },
          "claimerDesignation": {
            "type": "string"
          },
          "claimerLevel": {
            "type": "string"
          },
          "claimerName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phoneNo": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "GET-PlaceEnquiry-Response": {
        "type": "object",
        "properties": {
          "enquiries": {
            "type": "array",
            "items": {
              "properties": {
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object"
          }
        }
      },
      "POST-CreateEnquiry-Request": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "GET-AllReportsAtAPlace-Response": {
        "type": "object",
        "properties": {
          "baseURLObj": {
            "type": "object",
            "properties": {
              "icon_url": {
                "type": "string"
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "currentPage": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              },
              "totalItem": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              }
            }
          },
          "reports": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "addedBy": {
                  "type": "string"
                },
                "addedByName": {
                  "type": "string"
                },
                "childCategory": {
                  "type": "string"
                },
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "id": {
                  "type": "integer"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "parentCategory": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "subChildCategory": {
                  "type": "string"
                },
                "usersCount": {
                  "type": "integer"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "GET-RelationWithUser-Response": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "checkin": {
              "type": "boolean"
            },
            "edited": {
              "type": "boolean"
            },
            "event": {
              "type": "boolean"
            },
            "favourite": {
              "type": "boolean"
            },
            "report": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "addedBy": {
                    "type": "string"
                  },
                  "addedByName": {
                    "type": "string"
                  },
                  "childCategory": {
                    "type": "string"
                  },
                  "createdOn": {
                    "type": "number",
                    "format": "date"
                  },
                  "description": {
                    "type": "string"
                  },
                  "eventId": {
                    "type": "string"
                  },
                  "flagCount": {
                    "type": "integer"
                  },
                  "flagged": {
                    "type": "boolean"
                  },
                  "id": {
                    "type": "string"
                  },
                  "latitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "likeCount": {
                    "type": "integer"
                  },
                  "liked": {
                    "type": "boolean"
                  },
                  "longitude": {
                    "type": "number",
                    "format": "float"
                  },
                  "name": {
                    "type": "string"
                  },
                  "photo": {
                    "type": "string"
                  },
                  "pictures": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "placeId": {
                    "type": "string"
                  },
                  "placeName": {
                    "type": "string"
                  },
                  "resourceLocation": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "subChildCategory": {
                    "type": "string"
                  },
                  "userCount": {
                    "type": "integer"
                  },
                  "videos": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "reported": {
              "type": "boolean"
            },
            "review": {
              "type": "object",
              "properties": {
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "rating": {
                  "type": "number",
                  "format": "decimal"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "reviewed": {
              "type": "boolean"
            },
            "saved": {
              "type": "boolean"
            },
            "totalEnquiries": {
              "type": "integer"
            },
            "totalReports": {
              "type": "integer"
            },
            "totalReviews": {
              "type": "integer"
            }
          }
        }
      },
      "GET-AllReviewAtAPlace-Response": {
        "type": "object",
        "properties": {
          "pagination": {
            "type": "object",
            "properties": {
              "currentPage": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              },
              "totalItem": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              }
            }
          },
          "reviews": {
            "type": "object",
            "properties": {
              "createdOn": {
                "type": "number",
                "format": "date"
              },
              "description": {
                "type": "string"
              },
              "eventId": {
                "type": "string"
              },
              "flagCount": {
                "type": "integer"
              },
              "flagged": {
                "type": "boolean"
              },
              "latitude": {
                "type": "number",
                "format": "float"
              },
              "likeCount": {
                "type": "integer"
              },
              "liked": {
                "type": "boolean"
              },
              "longitude": {
                "type": "number",
                "format": "float"
              },
              "name": {
                "type": "string"
              },
              "photo": {
                "type": "string"
              },
              "pictures": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "placeId": {
                "type": "string"
              },
              "placeName": {
                "type": "string"
              },
              "rating": {
                "type": "number",
                "format": "decimal"
              },
              "resourceLocation": {
                "type": "string"
              },
              "status": {
                "type": "string"
              },
              "userId": {
                "type": "string"
              },
              "userName": {
                "type": "string"
              },
              "videos": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "PATCH-UpdateEnquiry-Request": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "GET-GetRespondCommentOnPin-Response": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "comment": {
              "type": "string"
            },
            "commented_on_pin": {
              "type": "string"
            },
            "comments": {
              "type": "integer"
            },
            "createdOn": {
              "type": "number",
              "format": "date"
            },
            "flagCount": {
              "type": "integer"
            },
            "id": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "pin_create_date": {
              "type": "string"
            },
            "pin_type": {
              "type": "string"
            },
            "platform": {
              "type": "string"
            },
            "status": {
              "type": "integer"
            },
            "updatedOn": {
              "type": "number",
              "format": "date"
            },
            "userName": {
              "type": "string"
            }
          }
        }
      },
      "GET-UserClaims-Response": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "claimId": {
              "type": "string"
            },
            "createdOn": {
              "type": "number",
              "format": "date"
            },
            "description": {
              "type": "string"
            },
            "designation": {
              "type": "string"
            },
            "email": {
              "type": "string"
            },
            "level": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "phoneNo": {
              "type": "string"
            },
            "status": {
              "type": "integer"
            },
            "updatedOn": {
              "type": "number",
              "format": "date"
            },
            "userName": {
              "type": "string"
            },
            "userPhoto": {
              "type": "string"
            }
          }
        }
      },
      "GET-UserEnquiries-Response": {
        "type": "object",
        "properties": {
          "enquiries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "platform": {
                  "type": "string"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object"
          }
        }
      },
      "GET-ImagesAtAPlace-Response": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "assets": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "addedByName": {
                    "type": "string"
                  },
                  "addedByURL": {
                    "type": "string"
                  },
                  "addedOn": {
                    "type": "number",
                    "format": "date"
                  },
                  "eloc": {
                    "type": "string"
                  },
                  "imageObj": {
                    "type": "string"
                  },
                  "imageOject": {
                    "type": "object",
                    "properties": {
                      "original": {
                        "type": "string"
                      }
                    }
                  },
                  "source": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            },
            "pagination": {
              "type": "object",
              "properties": {
                "currentPage": {
                  "type": "integer"
                },
                "perPage": {
                  "type": "integer"
                },
                "totalItem": {
                  "type": "integer"
                },
                "totalPages": {
                  "type": "integer"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "mmi_auth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://outpost.mapmyindia.com/api/security/oauth/token",
            "scopes": {
              "Read": "read authorization for API"
            }
          }
        }
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    }
  }
}
