{
  "openapi": "3.0.1",
  "info": {
    "title": "MapmyIndia Explore APIs",
    "description": "<h2>Security Type</h2> <p>This APIs follow OAuth2 based security. <b>To know more on how to create your authorization tokens, please click the `Authorize` button below. More details available <a href=\"https://www.mapmyindia.com/api/advanced-maps/doc/authentication-api.php\">here</a></b> </br><li><a href=\"https://www.mapmyindia.com/api/login\">Login/Sing Up</a> for API key and other access.<p></br>",
    "termsOfService": "https://www.mapmyindia.com/api/terms-&-conditions",
    "contact": {
      "name": "MapmyIndia API Support",
      "url": "https://www.mapmyindia.com/api/#f_cont",
      "email": "apisupport@mapmyindia.com"
    },
    "version": "2.1.0.0"
  },
  "externalDocs": {
    "description": "Find out more about MapmyIndia APIs",
    "url": "https://www.mapmyindia.com/api/advanced-maps/doc/interactive-map-api"
  },
  "servers": [
    {
      "url": "http://exp.mapmyindia.in/api",
      "description": "PreProd"
    },
    {
      "url": "https://explore.mapmyindia.com/api",
      "description": "Prod"
    },
    {
      "url": "http://explore-uat.mapmyindia.in/api",
      "description": "UAT"
    }
  ],
  "tags": [
    {
      "name": "Checkins"
    },
    {
      "name": "Claim a Business"
    },
    {
      "name": "Events"
    },
    {
      "name": "Image"
    },
    {
      "name": "List"
    },
    {
      "name": "Place"
    },
    {
      "name": "Report"
    },
    {
      "name": "Review"
    },
    {
      "name": "Route"
    },
    {
      "name": "Route Report Summary"
    },
    {
      "name": "User"
    }
  ],
  "paths": {
    "/{version}/places/checkin/{checkinId}": {
      "get": {
        "tags": [
          "Checkins"
        ],
        "summary": "Checkin details",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkinId",
            "in": "path",
            "description": "Checkin ID to get details of",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-CheckinDetail-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/{version}/places/{eloc}/checkin": {
      "get": {
        "tags": [
          "Checkins"
        ],
        "summary": "All Checkin at a place",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-AllCheckinAtAPlace-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Checkins"
        ],
        "summary": "Create Checkin",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "header",
            "description": "Checkin request body",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/POST-CreateCheckin-Response"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/users/checkin": {
      "get": {
        "tags": [
          "Checkins"
        ],
        "summary": "All checkins of a user",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-AllCheckinOfAUser-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{claimId}/claim": {
      "patch": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Update Claim",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "description": "Unique Claim ID.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "header",
            "description": "Claim request body",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/PATCH-UpdateClaim-Response"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No COntent"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/places/{claimId}/claimStatusUpdate": {
      "patch": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Update Claim Status",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "claimId",
            "in": "path",
            "description": "Unique Claim ID.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "0 (Fresh) , 1(Approve) , 2(Disapprove) , 3(Re-claim)",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/places/{eloc}/claim": {
      "post": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Create Claim",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "header",
            "description": "Claim request body",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/POST-CreateClaim-Response"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No COntent"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        }
      }
    },
    "/{version}/places/{eloc}/enquiry": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Place Enquiry",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-PlaceEnquiry-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "Create Enquiry",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "body",
            "in": "header",
            "description": "Claim request body",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/POST-CreateEnquiry-Response"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/placeReport": {
      "get": {
        "tags": [
          "Claim a Business"
        ],
        "summary": "All Report at a Place",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "perPage",
            "in": "query",
            "description": "number of results per page",
            "required": false,
            "allowEmptyValue": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-AllReportsAtAPlace-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/{version}/places/{eloc}/placedetails": {
      "get": {
        "tags": [
          "Place",
          "Claim a Business"
        ],
        "summary": "Detail of a place",
        "description": "This API gives the general details of that particular place id (eLoc) with keyinfo.",
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "description": "version of the API. Current.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eloc",
            "in": "path",
            "description": "6 character unique place identifier.",
            "required": true,
            "allowEmptyValue": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GET-PlaceDetail-Response"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GET-AllCheckinOfAUser-Response": {
        "type": "object",
        "properties": {
          "checkins": {
            "type": "array",
            "items": {
              "properties": {
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object"
          }
        }
      },
      "GET-AllCheckinAtAPlace-Response": {
        "type": "object",
        "properties": {
          "checkins": {
            "type": "array",
            "items": {
              "properties": {
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userId": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object"
          }
        }
      },
      "POST-CreateCheckin-Response": {
        "type": "object",
        "properties": {
          "alt": {
            "type": "integer"
          },
          "altAcc": {
            "type": "integer"
          },
          "broadcast": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "latlngAcc": {
            "type": "integer"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "placeName": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "GET-CheckinDetail-Response": {
        "type": "object",
        "properties": {
          "createdOn": {
            "type": "number",
            "format": "date"
          },
          "description": {
            "type": "string"
          },
          "eventId": {
            "type": "string"
          },
          "flagCount": {
            "type": "integer"
          },
          "flagged": {
            "type": "boolean"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "likeCount": {
            "type": "integer"
          },
          "liked": {
            "type": "boolean"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "name": {
            "type": "string"
          },
          "photo": {
            "type": "string"
          },
          "pictures": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "placeId": {
            "type": "string"
          },
          "placeName": {
            "type": "string"
          },
          "resourceLocation": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "videos": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GET-PlaceDetail-Response": {
        "type": "object",
        "properties": {
          "baseURLObj": {
            "type": "object",
            "properties": {
              "keyinfo": {
                "type": "string",
                "example": "https://mmi-explore-images.s3.ap-south-1.amazonaws.com/key_info/"
              },
              "review": {
                "type": "string",
                "example": "https://maps.mapmyindia.com/review/"
              },
              "place": {
                "type": "string",
                "example": "https://maps.mapmyindia.com/place/"
              }
            }
          },
          "generalDetails": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "1T182A"
              },
              "city": {
                "type": "string",
                "example": "New Delhi"
              },
              "similarPlaces": {
                "type": "string",
                "example": null
              },
              "latitude": {
                "type": "number",
                "format": "float",
                "example": 28.62542
              },
              "houseNumber": {
                "type": "string",
                "example": ""
              },
              "placeID": {
                "type": "string",
                "example": "1T182A"
              },
              "poi": {
                "type": "string",
                "example": "India Gate"
              },
              "type": {
                "type": "string",
                "example": "POI"
              },
              "responseCode": {
                "type": "integer",
                "example": 200
              },
              "houseName": {
                "type": "string",
                "example": ""
              },
              "formatedAddress": {
                "type": "string",
                "example": "India Gate, Rajpath Marg, New Delhi, Delhi, 110001"
              },
              "eLat": {
                "type": "number",
                "format": "float",
                "example": 28.6251256005
              },
              "popularName": {
                "type": "string",
                "example": "India Gate"
              },
              "street": {
                "type": "string",
                "example": "Rajpath Marg"
              },
              "state": {
                "type": "string",
                "example": "Delhi"
              },
              "village": {
                "type": "string",
                "example": ""
              },
              "email": {
                "type": "string",
                "example": ""
              },
              "longitude": {
                "type": "number",
                "format": "float",
                "example": 77.123551
              },
              "pincode": {
                "type": "string",
                "example": 110001
              },
              "website": {
                "type": "string",
                "example": ""
              },
              "address": {
                "type": "string",
                "example": "India Gate, Rajpath Marg, New Delhi, Delhi, 110001"
              },
              "subLocality": {
                "type": "string",
                "example": ""
              },
              "locality": {
                "type": "string",
                "example": ""
              },
              "telephone": {
                "type": "string",
                "example": 911123365358
              },
              "eLng": {
                "type": "number",
                "format": "float",
                "example": 77.1233000688
              },
              "subSubLocality": {
                "type": "string",
                "example": ""
              },
              "district": {
                "type": "string",
                "example": ""
              },
              "floorNo": {
                "type": "string",
                "example": ""
              },
              "doorNo": {
                "type": "string",
                "example": ""
              },
              "placeName": {
                "type": "string",
                "example": "India Gate"
              },
              "subDistrict": {
                "type": "string",
                "example": ""
              }
            }
          },
          "keyInfo": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "icon": {
                        "type": "string",
                        "example": "ic_timings.png"
                      },
                      "title": {
                        "type": "string",
                        "example": "Timings"
                      },
                      "value": {
                        "type": "string",
                        "example": "Morning to Night"
                      }
                    }
                  }
                },
                "heading": {
                  "type": "string",
                  "example": "noheading"
                },
                "style": {
                  "type": "string"
                }
              }
            }
          },
          "version": {
            "type": "string",
            "example": 210.16
          }
        }
      },
      "PATCH-UpdateClaim-Response": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "phoneNo": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "POST-CreateClaim-Response": {
        "type": "object",
        "properties": {
          "claimDescription": {
            "type": "string"
          },
          "claimerDesignation": {
            "type": "string"
          },
          "claimerLevel": {
            "type": "string"
          },
          "claimerName": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "phoneNo": {
            "type": "string"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "GET-PlaceEnquiry-Response": {
        "type": "object",
        "properties": {
          "enquiries": {
            "type": "array",
            "items": {
              "properties": {
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "pagination": {
            "type": "object"
          }
        }
      },
      "POST-CreateEnquiry-Response": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "latitude": {
            "type": "number",
            "format": "float"
          },
          "longitude": {
            "type": "number",
            "format": "float"
          },
          "platform": {
            "type": "string"
          }
        }
      },
      "GET-AllReportsAtAPlace-Response": {
        "type": "object",
        "properties": {
          "baseURLObj": {
            "type": "object",
            "properties": {
              "icon_url": {
                "type": "string"
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "currentPage": {
                "type": "integer"
              },
              "perPage": {
                "type": "integer"
              },
              "totalItem": {
                "type": "integer"
              },
              "totalPages": {
                "type": "integer"
              }
            }
          },
          "reports": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "addedBy": {
                  "type": "string"
                },
                "addedByName": {
                  "type": "string"
                },
                "childCategory": {
                  "type": "string"
                },
                "createdOn": {
                  "type": "number",
                  "format": "date"
                },
                "description": {
                  "type": "string"
                },
                "eventId": {
                  "type": "string"
                },
                "flagCount": {
                  "type": "integer"
                },
                "flagged": {
                  "type": "boolean"
                },
                "latitude": {
                  "type": "number",
                  "format": "float"
                },
                "likeCount": {
                  "type": "integer"
                },
                "liked": {
                  "type": "boolean"
                },
                "longitude": {
                  "type": "number",
                  "format": "float"
                },
                "name": {
                  "type": "string"
                },
                "photo": {
                  "type": "string"
                },
                "pictures": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "placeId": {
                  "type": "string"
                },
                "placeName": {
                  "type": "string"
                },
                "resourceLocation": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "userName": {
                  "type": "string"
                },
                "videos": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "mmi_auth": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://outpost.mapmyindia.com/api/security/oauth/token",
            "scopes": {
              "Read": "read authorization for API"
            }
          }
        }
      },
      "api_key": {
        "type": "apiKey",
        "name": "api_key",
        "in": "header"
      }
    }
  }
}
